
body {
    margin: 0px;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: black;

    nav menu {
        height: 5%;
        font-size: large;
        font-weight: bold;        

        display: flex;
        align-items: center;    
        li {
            display: inline-block;
            list-style: none;

            margin-right: 3%;
        }
    }
}

main {
    padding: 0%;
    padding-left: 8%;
    padding-right: 12%;    
}

.clickable {
    color: yellow;
    text-decoration: none;
}

.clickable:hover {
    color: red;
    cursor: pointer;
}

#AboutMe {
    div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        padding: 0% 10%;
    }
}

#Projects {
    ul {        
        li {
            list-style: none;
        }

        article {
            margin: 1% 20%;
            background-color: gray;

            display: flex;                     
            div {
                display: inline-flex;
                flex-direction: column;
            }
        }        
    }
}

#Skills {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;        
    }

    li {
        list-style: none;        
    }
}

#Contact {
    form {
        * {
            display: block;
        }

    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: white;
    background-color: black;
    q {
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    li {
        list-style: none;
    }
}